@page
@model ProyectoCiclo3.App.Frontend.Pages.FormEstacionesModel
@{
}
<div class="text-center">
<h1>Crear Estaciones</h1>
</div>
<div class="text-center">
    <form method = "POST">
        <label for="nombre" class = "form-label"><b>Nombre:</label></b>
        <input type="text" class="form-control" required placeholder="Nombre" minlength="3" asp-for="Estacion.nombre">
        <span class="text-danger" asp-validation-for="Estacion.nombre"></span> <br>
        <label for="direccion" class="form-label"><b>Direccion:</label></b>
        <input type="text" class="form-control" required placeholder="Direccion" asp-for="Estacion.direccion">
        <label for="coord_x" class="form-label"><b>Coordenada X:</label></b>
        <input type="number" class="form-control" required placeholder="Coordenada X" asp-for="Estacion.coord_x" step="any">
        <label for="coord_y" class="form-label"><b>Coordenada Y:</label></b>
        <input type="number" class="form-control" required placeholder="Coordenada Y" asp-for="Estacion.coord_y" step="any">
        <label for="tipo"><b>Tipo:</label></b>
        <select class="form-control" asp-for="Estacion.tipo">
            <option value="">Seleccione el tipo</option>
            <option value="Principal">Principal</option>
            <option value="Segundaria">Segundaria</option>
        </select>
        <hr>
        <button type="submit" class="btn btn-success"><b>Enviar</button></b>
        </hr>
    </form>
</div>