@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><b>Bienvenidos</b></h1>
    <img src="https://blogapi.uber.com/wp-content/uploads/2017/11/Cover-Pic-1-1.gif">
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
